ul.sidebar-menu li a {
	font-size: 16px
}

ul.sidebar-menu li ul.sub li a {
    font-size: 14px;
    color: #4b4c4e;
}

.sb-slidebar.sb-right  {
    color: white !important;
}

.p-task.tasks-bar .task-info .value {
    display: inline-block;
    float: right;
    font-size: 14px;
    margin-top: -20px;
}

.p-task {
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.p-task li {
	padding-bottom: 5px;
}

.sb-slidebar .side-title {
	padding-bottom: 0px;
    margin-bottom: 0px;
}

.state-overview.custom .symbol {
    width: 20%;
    padding: 10px;
}

.state-overview.custom .symbol.navy {
    background-color: #486db1;
}

.state-overview.custom .value {
    width:80%;       
    margin-top: 0px;
    padding-top: 7px;
}

.state-overview.custom .value h3 {
    font-size: 21px;
    text-transform: uppercase;
}

.state-overview.custom .symbol i {
    font-size: 20px;
}



.wrapper {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 70px;
    max-width: initial;
    overflow: scroll;
    width: 100%;
    height: 100vh;
}