
#search-dialog .select-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

#search-dialog .multiselect-container {
  width: 500px;
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

#search-dialog .form-check-label {
	margin-left: 10px;
	font-size: 16px;
}

#search-dialog .card-body {
	padding: 10px;
}

#search-dialog .btn-group .btn-sm {
}

#control-buttons {
	display: flex;
    justify-content: space-between;
    width: 370px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 0px;
}


#search-dialog #rank-button {
    margin-bottom: 10px;
    height: 36px;
    min-width: 150px;
	border: 1px solid #d5d2d2 !important;
	color: white  !important;
	-webkit-box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	min-height: 34px;   
	background-color:  #9ebe5e !important; 
    min-width: 160px;
    margin-right: 30px;
}
#rank-button span {
    vertical-align: top;
    color: white;
    font-weight: 600;
}
#rank-button i {
    color: white;
}

#limit-exceeded {
	margin-bottom: 0px;
    padding: 3px;
    color: #676767;
    background-color: #fde7e7;
    border-color: #949494;
    font-size: 12px;
}

#search-dialog #filtered-college-count {
	max-height: 20px;
	min-height: 20px;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #4a7fbd;
}

#search-dialog .card-header {
    font-weight: 600;
    font-size: 22px;
    min-height: 25px;
    padding-left: 0px;
    padding: 0px;
    margin-top: 10px;
}

#search-dialog .btn-link {
    color: #4d73a3;
    text-decoration: none;
    font-weight: 500;
}

#search-dialog #try-it-out-label {
    margin-top: 10px;
    font-size: 16px;
    color: #4f74a4;
    padding-left: 10px;
    font-weight: 500;
}

#reset-button {
    background-color: white;
    border-color: transparent;
    font-weight: 600;
    color: #4d73a3;
    display: inline-block;
    width: 100px;
    margin-bottom: 0px;
    margin-top: 0px !important;
    border: .5px solid #dadada;
    margin-right: 0px;
    height: 34px;
}

#minACT, #maxACT, #minAdmission, #maxAdmission {
	color: #486db1 !important;
}

#labelACT.has-value, #labelAdmission.has-value {
	color: #486db1 !important;
}
#minACT.has-value, #maxACT.has-value, #minAdmission.has-value, #maxAdmission.has-value {
	border: 1.5px solid #486db1 !important;
	font-weight: 600;
}

#usnews-cb-label.is-checked {
	color: #486db1;
}

#search-dialog #usnews-cb-label {
	font-size: 14px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #4d72a3;
    color: white;
}

.act-label, .admission-label {
	font-size: 12px;
    padding-top: 10px;
    padding-right: 5px;
}

#search-dialog .actions {
    justify-content: center;
    display: flex;
    margin-top: 0px;
    flex-flow: column;
    margin-left: 10px;
}

#search-dialog .btn-group {
  display: flex;
  flex-flow: row;
}

#search-dialog .btn-group .btn-sm {
    font-size: 13px;
    background: white;
    color: #757474;
    font-weight: 500 !important;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 0px;
    line-height: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#search-dialog .counter-section {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

#search-dialog .counter {
    font-size: 32px;
    font-weight: 500;
    background-color: white;
    color: #4d73a3;
    padding-bottom: 3px;
}

#search-dialog .counter-label {
    font-size: 16px;
    margin-right: 10px;
    color: #4d73a3;
    display: inline-block;
    font-weight: 500;
    margin-left: 4px;
}
