
#search-dialog .select-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

#search-dialog .multiselect-container {
  width: 500px;
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

#search-dialog .form-check-label {
	margin-left: 10px;
	font-size: 16px;
}

#search-dialog .card-body {
	padding: 10px;
}

#search-dialog .btn-group .btn-sm {
	width: 125px;
}

#control-buttons {
	margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 370px;
    font-size: 14px;
}


#search-dialog #rank-button {
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-width: 120px;
	height: 36px;
}

#limit-exceeded {
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;	
}
#search-dialog #filtered-college-count {
	max-height: 20px;
	min-height: 20px;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #4a7fbd;
}

#search-dialog .card-header {
	font-weight: 600;
    font-size: 22px;	
    min-height: 55px;
}

#reset-button {
	background-color: #b1b1b1;
	border-color: #adadad;
	font-weight: 600;
	margin-left: 40px;
	color: white;
	margin-top: 0px;
	margin-left: 100px;
	width: 100px;
	display: inline-block;
}

#minACT, #maxACT, #minAdmission, #maxAdmission {
	color: #486db1 !important;
}

#labelACT.has-value, #labelAdmission.has-value {
	color: #486db1 !important;
}
#minACT.has-value, #maxACT.has-value, #minAdmission.has-value, #maxAdmission.has-value {
	border: 1.5px solid #486db1 !important;
	font-weight: 600;
}

#usnews-cb-label.is-checked {
	color: #486db1;
}

#search-dialog #usnews-cb-label {
	font-size: 14px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #4d72a3;
    color: white;
}

.act-label, .admission-label {
	font-size: 12px;
    padding-top: 10px;
    padding-right: 5px;
}
