
#search-dialog .select-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

#search-dialog .multiselect-container {
  width: 500px;
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

#search-dialog .form-check-label {
	margin-left: 10px;
	font-size: 16px;
}

#search-dialog .card-body {
	padding: 10px;
}



#search-dialog #rank-button {
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-width: 120px;
}

#search-dialog #filtered-college-count {
	max-height: 20px;
	min-height: 20px;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #4a7fbd;
}

#search-dialog .card-header {
	font-weight: 600;
    font-size: 22px;	
    min-height: 55px;
}

#minACT, #maxACT {
	color: #486db1 !important;
	font-weight: 600;
}

#labelACT.has-value {
	color: #486db1 !important;
}

#usnews-cb-label.is-checked {
	color: #486db1;
}
