
#search-dialog .select-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

#search-dialog .multiselect-container {
  width: 400px;
  max-height: 400px;
  overflow-y: scroll;
}

#search-dialog .form-check-label {
	margin-left: 10px;
}

#search-dialog .card-body {
	padding: 10px;
}


.selections button.multiselect {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	color: #fff;
	background-color: rgb(89, 120, 157);
    border-color: rgb(89, 120, 157);
	margin-top: 0px;
	min-height: 50px;
}


.selections button.multiselect .multiselect-selected-text {
	color: white;
}
