body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0;padding: 5px; }

.hide {
  display: none;
}

* {
  font-family: 'Raleway';
  color:  #454545 ;
}

body #body-contents {
  display: flex;
  flex-flow: column;
  padding: 10px;
  overflow-y: scroll;
  height: -webkit-fill-available;
}

body .selections {
  display: flex;
  flex-flow: row;
  margin-bottom: 20px;
  margin-top: 20px;
}

#scorecard-select-container {
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

.multiselect-container {
  width: 500px;
  max-height: 400px;
  overflow-y: scroll;
}

#hist-chart {
  display: flex;
  flex-flow: row;
}


#hist-chart .hist svg .x.axis .tick text {
  transform: rotate(90deg) translate(6px,-12px);
  text-anchor: start;
}

#hist-chart .hist svg rect {
  fill: #b7b7b9;
  stroke: #6c6c6c;
  stroke-width: .5px;
}

#hist-chart .hist svg rect.highlight {
  stroke: #2d96cb;
  stroke-width: 2px;
}

#hist-chart .hist svg text.marker-label {
  font-size: 10px;
  font-weight: 500;
}
#hist-chart .hist svg .marker {
  fill: #1d68de
}
#hist-chart .hist svg .marker line {
  stroke: #1d68de;
  stroke-width: 5px;
  stroke-opacity: .5;
}

#hist-chart .hist.selectivity svg rect {
  fill: #59a14f;
  stroke: #519248;
}

#hist-chart .hist.instruction svg rect {
  fill: #f28e2c;
  stroke: #c47527;
}

 #hist-chart .hist.diversity svg rect {
  fill: #4e79a7;
  stroke: #426992;
  stroke-width: .5px;
}

#hist-chart .hist.cost  svg rect {
  fill: #e25659;
  stroke: #c64a4d;
}

#hist-chart .hist.outcome  svg rect {
  fill: #75b7b2;
  stroke: #5a8c88;
}



.btn-group-sm>.btn, .btn-sm {
    height: 30px;
    margin-top: 12px;
}

button.multiselect {
  text-align: left;
}


.legend-size circle.swatch,
.legend-symbol path.swatch {
  fill: #a2a1a1;
  stroke-width: 1px;
  stroke: #4c4c4c;
}

.legendCells .cell text {
  font-size: 12px;
}

.scatterplot .bubble {
  opacity: .7;
  stroke: black;
  stroke-width: 1px;
  stroke-opacity: .8;
  cursor: pointer;
  pointer-events: all;
}
.scatterplot .y.axis text.label {
  fill: black;
  font-size: 14px;
}
.scatterplot .x.axis text.label {
  fill: black;
  font-size: 14px;
}

.rankchart rect.bar {
  stroke: black;
  stroke-width: 1px;
}

.rankchart .row text {
  font-size: 12px;
}
.rankchart .col-header text {
  font-size: 12px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
    min-height: 60px;
    max-height: 300px;
    padding: 10px;
    font-size: 14px;
    color: white;
    background: #303030;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    text-align: left;
}