@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tz8ykx');
  src:  url('../fonts/icomoon.eot?tz8ykx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tz8ykx') format('truetype'),
    url('../fonts/icomoon.woff?tz8ykx') format('woff'),
    url('../fonts/icomoon.svg?tz8ykx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}




[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-scatter:before {
  content: "\e900";
}
.icon-analytics:before {
  content: "\e901";
}
.icon-graphic:before {
  content: "\e902";
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon1.eot?colyr7');
  src:  url('../fonts/icomoon1.eot?colyr7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon1.ttf?colyr7') format('truetype'),
    url('../fonts/icomoon1.woff?colyr7') format('woff'),
    url('../fonts/icomoon1.svg?colyr7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


.icon-beeswarm-plot:before {
  content: "\e904";
}