<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>US College Scorecard</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,700&display=swap" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
    <link href="static/css/flatlab/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/flatlab/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="static/assets/flatlab/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="static/assets/flatlab/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="static/css/flatlab/owl.carousel.css" type="text/css">

    <!--right slidebar-->
    <link href="static/css/flatlab/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="static/css/flatlab/style.css" rel="stylesheet">
    <link href="static/css/flatlab/style-responsive.css" rel="stylesheet" />


    <link href="static/css/scorecard/animate.min.css" rel="stylesheet" />



    <link rel="stylesheet" href="static/css/scorecard/custom-flatlab.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/scorecard/style.css">
    <link rel="stylesheet" href="static/css/scorecard/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">



    <link href="static/assets/icomoon/css/icomoon.css" rel="stylesheet">

  </head>

  <body class="light-sidebar-nav">

  <section id="container">
    <!--header start-->
    <header class="header white-bg">
     
      <!--logo start-->
      <a href="." class="logo">US College<span> Scorecard</span></a>
      <div class="top-nav ">
        <ul class="nav pull-left top-menu">

            <li>
              <a class="" href="summary">
                <span class="icon-graphic"></span>
                
                <span>By the numbers</span>
              </a>
            </li>
    
            <li>
              <a class="" href="segment">
                <span class="icon-scatter"></span>
                <span>Breaking it down</span>
              </a>
            </li>
    


            <li>
                <a class="" href="score">
                    <i class="fa fa-sort-amount-desc"></i>
                    <span>Compare and Rank</span>
                </a>
            </li>
          
        </ul>        
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
          <li class="sb-toggle-right">
            <i class="fa  fa-align-right"></i>
          </li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!--sidebar start-->

    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">

        <div id="home-page-content">
          <div class="card custom-overview animated fadeIn">
            <div class="card-body">
              The <a href="https://collegescorecard.ed.gov/" style="font-weight:600">College Scorecard</a> is a federal
              dataset and website that allows users to find, select, and compare higher-education institutions.
              Here, we leverage the college scorecard dataset that covers over
              7000 higher education institutions by focusing on institutional, academic, admission, financial, and future
              value data.
              We offer prospective students visualizations that go beyond opaque college rankings to better understand the US college landscape and evaluate and compare particular colleges of interest.
            </div>
          </div>
          
          <div class="row" style="justify-content:center;margin-top:10px;margin-bottom:10px">
            <div class="col-profile-nav col-lg-3 col-md-12 animated fadeInDown delay-1s">
              <aside class="profile-nav alt ">
                <section class="panel">
                  <a href="summary" class="panel">
                    <div class="user-heading alt bg-white" >
                      <span class="icon-graphic"></span>

                      <h3>By the Numbers</h3>
                      <div class="summary-description">Gain a high-level understanding of the dataset.</div>
                      <img  src="static/img/overview/summary.png" alt="Summary view">
                    </div>
    
                    <a href="summary" class="btn btn-default btn-white btn-block" >Go</a>
                  </a>
                </section>
              </aside>
            </div>
    
            <div class="col-profile-nav col-lg-3 col-md-12 animated fadeInDown delay-2s">
              <aside class="profile-nav alt ">
                <a href="segment" class="panel">
                  <div class="user-heading alt bg-white" >
                    <span class="icon-scatter"></span>
                    <h3>Breaking it Down</h3>
                    <div class="summary-description">Take a deep-dive into the data to reveal interesting patterns.
                    </div>
                    <img  src="static/img/overview/segment_small.png" alt="Segment view">
                  </div>
    
                  <a href="segment" class="btn btn-default btn-white btn-block">Go</a>
                </a>
              </aside>
            </div>
    
            <div class="col-profile-nav col-lg-3 col-md-12 animated fadeInDown delay-3s">
              <aside class="profile-nav alt ">
                <a href="score" class="panel">
                  <div class="user-heading alt bg-white" >
                    <i class="fa fa-sort-amount-desc"></i>
                    <h3>Compare &amp; Rank</h3>
                    <div class="summary-description">Evaluate and rank colleges with key metrics.
                    </div>
                    <img  src="static/img/overview/score_small.png" alt="Segment view">
                  </div>
    
                  <a href="score" class="btn btn-default btn-white btn-block" >Go</a>
                </a>
              </aside>
            </div>
    
          </div>


          <div class="card custom-overview animated fadeIn delay-4s">

            <div class="card-body">

            This is the final project for the <a href="https://datascience.berkeley.edu/academics/curriculum/data-visualization/" target="_new">UC Berkeley's Data Visualization class</a>, taught by <a href="https://johnguerra.co/" target="_new">John Alexis Guerra Gómez</a> in the Data Sciences Masters (MIDS) program.  The visualizations in the   <span class="icon-graphic"></span>
              </i> <strong>By the numbers</strong> section were created by <a href="https://www.ischool.berkeley.edu/people/vidhu-nath#profile-main" target="_new">Vidhu Nath</a> using Tableau.  The quadrant charts in the  <span class="icon-scatter"></span>
               <strong>Breaking it down</strong> section where created by <a href="https://www.ischool.berkeley.edu/people/michael-shum#profile-main" target="_new">Michael Shum</a> using Tableau.  The college <i class="fa fa-sort-amount-desc"></i> <strong>Compare and Rank </strong>data visualization was created by <a href="https://www.ischool.berkeley.edu/people/tony-di-sera#profile-main" target="_new">Tony Di Sera</a> using D3.
            To learn more about our project, visit our 
            <a href="https://docs.google.com/presentation/d/1fAMYJXOVqkNpusCteTKg8Io9N3MyjPx6FfKLPaOjce8/edit?usp=sharing" target="_new">Midterm Project Presentation.</a>  

            <div style="float:right;padding-top:8px;font-size: 11px">Icons made by <a href="https://fontawesome.com/" target="_new">Font Awesome</a> and <a href="https://www.flaticon.com/authors/freepik" target="_new" title="Freepik">Freepik</a> (by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry" target="_new">Kiranshastry</a> and <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons" target="_new">Those Icons</a>)</div>

            </div>
          </div>
        </div>
      </section>
    </section>
  
    <!--main content end-->

  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="static/js/flatlab/jquery.js"></script>
    <script src="static/js/flatlab/bootstrap.bundle.min.js"></script>
    <script class="include" type="text/javascript" src="static/js/flatlab/jquery.dcjqaccordion.2.7.js"></script>
    <script src="static/js/flatlab/jquery.scrollTo.min.js"></script>
    <script src="static/js/flatlab/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="static/js/flatlab/jquery.sparkline.js" type="text/javascript"></script>
    <script src="static/assets/flatlab/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="static/js/flatlab/owl.carousel.js" ></script>
    <script src="static/js/flatlab/jquery.customSelect.min.js" ></script>
    <script src="static/js/flatlab/respond.min.js" ></script>

    <!--right slidebar-->
    <script src="static/js/flatlab/slidebars.min.js"></script>

    <!--common script for all pages-->
    <script src="static/js/flatlab/common-scripts.js"></script>

    <script src="static/js/flatlab/count.js"></script>

    <!--script for this page only-->
    <script type="text/javascript" src="static/js/flatlab/jquery.pulsate.min.js"></script>
    <script src="static/js/flatlab/pulstate.js" type="text/javascript"></script>


  <script>

      $(function(){
          $('select.styled').customSelect();
      });





  </script>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js"></script>
  <script src="https://d3js.org/d3-color.v1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js" integrity="sha256-gh5oDg46rxRDr9QF4nehk1UNULQ05EhbM9wOerElwRc=" crossorigin="anonymous"></script>



  </body>
</html>
