<!DOCTYPE html>
<style>

</style>


<head>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/search.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js" integrity="sha256-gh5oDg46rxRDr9QF4nehk1UNULQ05EhbM9wOerElwRc=" crossorigin="anonymous"></script>
</head>


<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/">US College Scorecard</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item ">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="summary">Summary</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="segment">Segment</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link " href="score">Score<span class="sr-only">(current)</span></a>
	      </li>
	    </ul>
	  </div>
	</nav>

	<div id="body-contents">


    <div>
      <h2>Score</h2>
    
      
      <div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Select Colleges</button>

        <div id="search-dialog" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" style="width:1000px;padding:20px">

              <div style="display:flex;flex-flow:row;">

                <div class="card" style="flex-grow:1;max-width:340px;min-width:250px;">
                  <div class="card-header">Filter</div>

                  <div class="card-body" style="display:flex;justify-content: space-between;flex-direction: column;">
                    <div>

                      <div class="select-container" >
                        <select id="select-college" multiple="multiple">
                        </select>
                      </div>


                      <div class="select-container" >
                        <select id="select-region" multiple="multiple">
                          <option value="0">U.S. Service Schools</option>
                          <option value="1">New England (CT, ME, MA, NH, RI, VT)</option>
                          <option value="2">Mid East (DE, DC, MD, NJ, NY, PA)</option>
                          <option value="3">Great Lakes (IL, IN, MI, OH, WI)</option>
                          <option value="4">Plains (IA, KS, MN, MO, NE, ND, SD)</option>
                          <option value="5">Southeast (AL, AR, FL, GA, KY, LA, MS, NC, SC, TN, VA, WV)</option>
                          <option value="6">Southwest (AZ, NM, OK, TX)</option>
                          <option value="7">Rocky Mountains (CO, ID, MT, UT, WY)</option>
                          <option value="8">Far West (AK, CA, HI, NV, OR, WA)</option>
                          <option value="9">Outlying Areas (AS, FM, GU, MH, MP, PR, PW, VI)</option>
                        </select>
                      </div>


                      <div class="select-container" >
                        <select id="select-program" multiple="multiple">
                        </select>
                      </div>

                      <div class="select-container" >
                        <select id="select-control" multiple="multiple">
                          <option value="1">Public</option>
                          <option value="2">Private</option>
                          <option value="3">Private for profit</option>
                        </select>
                      </div>

                    </div>

                      
                    <div style="justify-content: flex-end;display: flex;">
                       <button type="button" onclick="search.filterColleges()" class="btn btn-primary">Filter</button>
                    </div>                  

                  </div>

                </div>

                <div class="card" style="flex-grow:1;margin-left:10px">
                  <div class="card-header">Select</div>
                  <div class="card-body" style="display:flex;justify-content: space-between;flex-direction: column;">
                    <div id="filtered-colleges" style="min-height:400px;max-height:400px;overflow-y:scroll">
                    </div>
                    <div style="justify-content: flex-end;display: flex;">
                       <button type="button" onclick="rankColleges()" class="btn btn-primary">Rank</button>
                    </div>      
                  </div>

                </div>

              </div>
             

            </div>


          </div>
        </div>

      </div>

      <div class="selections" style="display:none">
        <div id="scorecard-select-container">
          <select id="scorecard-select" multiple="multiple">
          </select>
        </div>
        <div id="scorecard-college-select-container">
          <select id="scorecard-college-select" multiple="multiple">
          </select>
        </div>
      </div>

      <div class="chart-container">
      </div>
    </div>



	</div>


</body>

<script src="static/js/common.js"></script>
<script src="static/js/search.js"></script>
<script src="static/js/scatterplot.js"></script>
<script src="static/js/histogram.js"></script>
<script src="static/js/score.js"></script>  

</html>