<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>US College Scorecard</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/flatlab/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/flatlab/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="static/assets/flatlab/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="static/assets/flatlab/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet"/>

    <link href="static/assets/flatlab/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="static/css/flatlab/owl.carousel.css" type="text/css">

    <!--right slidebar-->
    <link href="static/css/flatlab/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="static/css/flatlab/style.css" rel="stylesheet">
    <link href="static/css/flatlab/style-responsive.css" rel="stylesheet" />


    <link rel="stylesheet" type="text/css" href="static/assets/flatlab/select2/css/select2.min.css">

    <link rel="stylesheet" href="https://unpkg.com/tippy.js@5/dist/backdrop.css" />


    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">


    <link rel="stylesheet" href="static/css/scorecard/custom-flatlab.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/scorecard/style.css">
    <link rel="stylesheet" href="static/css/scorecard/search.css">

    <link href="static/css/introjs/introjs.css" rel="stylesheet" />

    <link href="static/assets/icomoon/css/icomoon.css" rel="stylesheet">


  </head>

  <body class="light-sidebar-nav">

  <section id="container">
      <!--header start-->
      <header class="header white-bg">

          <!--logo start-->
          <a href="." class="logo">US College<span> Scorecard</span></a>
          <div class="top-nav ">

              <ul class="nav pull-left top-menu">

                  <li>
                    <a class="" href="summary">
                      <span class="icon-graphic"></span>
                      
                      <span class="title">By the numbers</span>
                    </a>
                  </li>
          
                  <li>
                    <a class="" href="segment">
                      <span class="icon-scatter"></span>
                      <span class="title">Breaking it down</span>
                    </a>
                  </li>
          


                  <li>
                      <a class="active" href="score">
                          <i class="fa fa-sort-amount-desc"></i>
                          <span class="title">Compare and Rank</span>
                      </a>
                  </li>

              </ul>

              <!--search & user info start-->
              <ul class="nav pull-right top-menu">
                  <li class="sb-toggle-right">
                      <i class="fa  fa-align-right"></i>
                  </li>
              </ul>
          </div>
      </header>
      <!--header end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
 
            <div class="row state-overview custom">

              <div >
                <section class="card">
                    <div class="symbol navy">
                        <i class="fa fa-sort-amount-desc"></i>
                    </div>
                    <div class="value" style="display:flex">
                        <h3 class="">Compare and Rank</h3>
                    </div>

                </section>
              </div>

              <div id="tour-button-container" > 
                <button onclick="startTour()" class="btn btn-sm btn-default" id="tour-button">Quick Tour</button>
              </div>


              <button style="display: none" id="slide-right-button" class="btn btn-info sb-toggle-right">Slide</button>

            </div>

            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <section class="card">


                  <div class="card-body" style="overflow-x: scroll;padding-top:15px">

                    <div id="rank-chart-title" class="hide">
                        <span  id="rank-college-count" class="badge primary-badge"></span>

                        <div  id="filter-badges">
                        </div>

                    </div>

                    <div class="selections" >
                      <div id="search-colleges-container">


                        <div style="display:flex;flex-flow:row">
                          <button data-step="1" data-intro="Choose colleges to rank by performing your own search" id="search-colleges-button" class="btn btn-sm btn-primary">Pick Colleges
                          </button>

                          <div id="college-examples">
                            <span>Try out</span>
                              <div  id="college-filters" data-step="2" data-intro="Or choose the colleges to rank using one of these pre-built filters" class="btn-group"  data-toggle="buttons" style="margin-left:0px">
                                  <label class="btn btn-sm btn-default active">
                                      <input type="radio" name="searchoption" value="usnews_top_200"> US News (top)  
                                  </label>
                                  <label  class="hide btn btn-sm btn-default">
                                      <input id="custom-filter-button-1"  type="radio" name="searchoption" value="public_high_act">Highly selective, Public
                                  </label>
                                  <label class="hide btn btn-sm btn-default ">
                                      <input type="radio" name="searchoption" value="west_coast"> West Coast, Public
                                  </label>
                                  <label class="btn btn-sm btn-default ">
                                      <input type="radio" name="searchoption" value="ivy_plus"> Ivy League +
                                  </label>
                              </div>
                          </div>

                        
                        </div>

                      
                      </div>

                      <div id="scorecard-select-container">
                        
                        <select data-step="3" data-intro="Choose which factors to consider when scoring the colleges"  id="scorecard-select" multiple="multiple">
                        </select>
                      </div>

                      <div id="distribution-controls">
                          <span>Show summary across</span>
                          <div class="btn-group"  data-toggle="buttons" >
                              <label class="btn active btn-sm btn-default">
                                  <input type="radio" name="distoption" value="ranked"> Ranked colleges
                              </label>
                              <label  class="btn btn-sm btn-default ">
                                  <input   type="radio" name="distoption" value="all">All colleges
                              </label>
                              <label class="btn btn-sm btn-default  ">
                                  <input type="radio" name="distoption" value="none"> 
                                  Hide
                              </label>
                          </div>
                        </div>
                      </div>

                    <center >
                      <img id="loading" style="display:none;width:800px" src="static/assets/scorecard/charts-loader-2x.gif"></img>
                    </center>

                    <div style="display:flex;flex-flow:column;">





                      <div id="hist-chart-categories">
                      </div>

                      <div id="rank-chart-heading"></div>

                      <div id="distribution-container" data-step="4" data-intro="These charts show how each factor (metric) is distributed across all ranked schools.  When you hover over a particular college, you will see how that college's metric places among the ranked colleges.  You can change the chart to show the distribution across all 7000+ colleges in the dataset." class="chart-container">
                        <div id="distribution-display">
                          Summary across ranked colleges
                        </div>
                        <div>
                          <div id="hist-chart-container">
                          </div>
                          <div id="swarm-container">
                          </div>
                        </div>                                  
                      </div>

                      <div id="rank-chart" class="chart-container">
                      </div>
                    </div>

                  </div>






                </section>
              </div>
            </div>

          </section>
      </section>
      <!--main content end-->

       <!-- Right Slidebar start -->
      <div id="college-detail" class="sb-slidebar sb-right sb-style-overlay">
          <h5 id="name" style="padding-left:10px"></h5>
          <button id="close-button" class="sb-toggle-right">X</button>

          <h5 class="side-title">Selectivity</h5>
          <ul class="p-task tasks-bar">
            <li>
              <div class="task-info">
                  <div class="desc">Admission Rate</div>
                  <div id="admission-rate" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">ACT Cumulative - Midpoint</div>
                  <div id="act-midpoint" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">ACT Cumulative - 75 percentile</div>
                  <div id="act-75pctl" class="value"></div>
              </div>
            </li>
          </ul>
          <h5 class="side-title">Instruction</h5>
          <ul class="p-task tasks-bar">
            <li>
              <div class="task-info">
                  <div class="desc">Faculty Salary</div>
                  <div id="faculty-salary" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">Full-time Faculty Ratio</div>
                  <div id="full-time-faculty-ratio" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">Instructional Cost per full-time student</div>
                  <div id="instructional-cost-per-fte" class="value"></div>
              </div>
            </li>
          </ul>
          <h5 class="side-title">Diversity</h5>
          <ul class="p-task tasks-bar">
            <li>
              <div class="task-info">
                  <div class="desc">Percent Black</div>
                  <div id="diversity-pct-black" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">Percent Hispanic</div>
                  <div id="diversity-pct-hispanic" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">Percent Asian</div>
                  <div id="diversity-pct-asian" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">Median Household Income</div>
                  <div id="median-hh-income" class="value"></div>
              </div>
            </li>
          </ul>          
          <h5 class="side-title">Cost</h5>
          <ul class="p-task tasks-bar">
            <li>
              <div class="task-info">
                  <div class="desc">Tuition In-state</div>
                  <div id="tuition-in-state" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">Tuition Out-of-state</div>
                  <div id="tuition-out-of-state"  class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">Cost of attendance</div>
                  <div id="cost" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">Median Debt</div>
                  <div id="median-debt" class="value"></div>
              </div>
            </li>
          </ul>          

          <h5 class="side-title">Outcomes</h5>
          <ul class="p-task tasks-bar">
            <li>
              <div class="task-info">
                  <div class="desc">Retention Rate</div>
                  <div id="retention-rate" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">Completion Rate</div>
                  <div id="completion-rate" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">Median Salary - 2 years post graduation</div>
                  <div id="median-salary-6-yrs" class="value"></div>
              </div>
              <div class="task-info">
                  <div class="desc">Median Salary - 6 years post graduation</div>
                  <div id="median-salary-10-yrs" class="value"></div>
              </div>
            </li>
          </ul>
      </div>
      <!-- Right Slidebar end -->

  <div id="search-dialog" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="width:1000px;padding:10px">

        <div style="display:flex;flex-flow:row;">

          <div class="card" style="flex-grow:1;max-width:420px;min-width:420px;">
            <div class="card-header">
              Filter
             <button id="reset-button"  type="button" onclick="search.resetFilters()" class="btn btn-white btn-sm">Reset</button>
            </div>
            <div class="card-body" style="display:flex;justify-content: space-between;flex-direction: column;">
              <div style="min-height:520px;max-height:520px;">


                <div id="degree-radio-buttons" class="btn-group"  data-toggle="buttons" style="margin-bottom: 20px;margin-top: 20px">
                    <label  class="btn btn-sm btn-default ">
                        <input  type="radio" name="degree_option" value="1">Certificate
                    </label>
                    <label class="btn btn-sm btn-default ">
                        <input type="radio" name="degree_option" value="2">Associates
                    </label>
                    <label id="degree-bachelors-radio" class="btn btn-sm btn-default active ">
                        <input type="radio" name="degree_option" value="3">Bachelors
                    </label>
                </div>



                <div id="control-buttons"  style="margin-bottom: 20px;margin-top: 0px">
                  <label   class="" id="control-public">
                    <input type="checkbox" style="margin-right:5px" name="control_option" value="1">Public
                  </label>
                  <label  class=" ">
                    <input type="checkbox" style="margin-right:5px" name="control_option" value="2">Private
                  </label>
                  <label class=" ">
                    <input type="checkbox" style="margin-right:5px" name="control_option" value="3">Private for Profit
                  </label>
                </div>


                <label for="select2-programs" style="width: 100%;margin-bottom: 30px;">
                  Select field of study
                  <select id="select2-programs" multiple="multiple">
                  </select>
                </label>

                <label for="select2-regions" style="width: 100%;margin-bottom: 30px;">
                  Select specific region
                  <select id="select2-regions" multiple="multiple">
                    <option value="0">U.S. Service Schools</option>
                    <option value="1">New England </option>
                    <option value="2">Mid East</option>
                    <option value="3">Great Lakes </option>
                    <option value="4">Plains</option>
                    <option value="5">Southeast</option>
                    <option value="6">Southwest</option>
                    <option value="7">Rocky Mountains </option>
                    <option value="8">Far West</option>
                    <option value="9">Outlying Areas</option>
                  </select>
                </label>



                <div style="display:flex;flex-flow:column;margin-bottom:10px">
                  <div id="labelACT" >Students attending school have average an ACT score</div>


                  <div style="display:flex;font-size:18px;">
                    <label class="act-label" for="minACT">between</label>
                    <input type="text"  class="form-control mb-2" id="minACT" placeholder="Min" 
                    style="margin-right:10px;width:55px;font-size:15px"/>
                    <label  class="act-label" for="maxACT" style="padding-left:10px;padding-right:10px">and</label>

                    <input type="text" class="form-control mb-3" id="maxACT" placeholder="Max"
                    style="margin-left:5px;margin-right:10px;width:55px;font-size:15px"/>
                
                  </div>
                </div>


                <div style="display:flex;flex-flow:column;margin-bottom:10px">
                  <div id="labelACT" >Admission rate</div>


                  <div style="display:flex;font-size:18px;">
                    <label class="admission-label" for="minAdmission">between</label>
                    <input type="text"  class="form-control mb-2" id="minAdmission" placeholder="Min %" 
                    style="margin-right:3px;width:55px;font-size:15px"/>
                    <label class="admission-label" style="font-size:15px;font-weight:600" for="minAdmission">%</label>

                    <label  class="admission-label" for="maxAdmission" style="padding-left:10px">and</label>

                    <input type="text" class="form-control mb-3" id="maxAdmission" placeholder="Max %"
                    style="margin-left:5px;margin-right:3px;width:55px;font-size:15px"/>
                    <label class="admission-label" style="font-size:15px;font-weight:600" for="minAdmission">%</label>
                
                  </div>
                </div>


                <div class="form-check" style="margin-left: -10px;padding-top: 10px;padding-bottom: 25px;">
                  <input type="checkbox" false id="usnews-cb" class="form-checked-input">
                  <label id="usnews-cb-label" class="form-check-label" for="usnews-cb">
                    Top Ranked (US News and World Report)
                  </label>
                </div>


                <label for="select2-colleges" style="width: 100%;">
                  Select specific colleges
                  <select id="select2-colleges" multiple="multiple">
                  </select>
                </label>







              </div>

       
            </div>

          </div>

          <div class="card" style="flex-grow:1;margin-left:10px;margin-bottom:0px">
            <div class="card-header">Select
              <div style="float:right;display:inline-block;max-height:20px">
                <label style="padding-right:4px;font-size:16px">
                  Colleges found
                </label>
                <span id="filtered-college-count" style="max-height:20px" class="badge badge-primary"></span>
              </div>

            </div>
            <div class="card-body" style="margin-bottom:0px;display:flex;justify-content: space-between;flex-direction: column;">
                <div class="form-check" style="margin-left:20px">
                  <input checked type="checkbox" id="select-all-cb" class="form-checked-input">
                  <label class="form-check-label" for="select-all-cb" style="padding-bottom:10px">
                    Select all
                  </label>
                </div>
             
              <div id="filtered-colleges" style="min-height:520px;max-height:520px;overflow-y:scroll">
              </div>
              <div style="justify-content: flex-end;display: flex;margin-top:10px">
                 <div id="limit-exceeded" class="hide alert alert-primary" role="alert">
                  Only 500 colleges can be ranked at a time. 
                 </div>
                 <button id="rank-button" disabled type="button" onclick="rankCollegesAdvancedSearch()" class="btn btn-primary">Rank</button>
              </div>      
            </div>

          </div>

        </div>
       

      </div>


    </div>
  </div>

   <div id="swarm-dialog" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="width:1000px;padding:10px">
        <div id="swarm-container1">
        </div>
      </div>
    </div>
   </div>

     
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="static/js/flatlab/jquery.js"></script>
    <script src="static/js/flatlab/bootstrap.bundle.min.js"></script>
    <script class="include" type="text/javascript" src="static/js/flatlab/jquery.dcjqaccordion.2.7.js"></script>
    <script src="static/js/flatlab/jquery.scrollTo.min.js"></script>
    <script src="static/js/flatlab/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="static/js/flatlab/jquery.sparkline.js" type="text/javascript"></script>
    <script src="static/assets/flatlab/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="static/js/flatlab/owl.carousel.js" ></script>
    <script src="static/js/flatlab/jquery.customSelect.min.js" ></script>
    <script src="static/js/flatlab/respond.min.js" ></script>
    <script src="static/assets/flatlab/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <!--right slidebar-->
    <script src="static/js/flatlab/slidebars.min.js"></script>

    <!--common script for all pages-->
    <script src="static/js/flatlab/common-scripts.js"></script>

    <!--script for this page-->
    <script src="static/js/flatlab/sparkline-chart.js"></script>
    <script src="static/js/flatlab/easy-pie-chart.js"></script>
    <script src="static/js/flatlab/count.js"></script>


    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@5"></script>


    <script src="static/js/flatlab/jquery.pulsate.min.js"></script>
    <script src="static/assets/flatlab/select2/js/select2.min.js"></script>



  <script>

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });


  </script>


  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js"></script>
  <script src="https://d3js.org/d3-color.v1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js" integrity="sha256-gh5oDg46rxRDr9QF4nehk1UNULQ05EhbM9wOerElwRc=" crossorigin="anonymous"></script>

  <script src="static/js/introjs/intro.js"></script>
  <script src="static/js/d3-beeswarm/d3-beeswarm.min.js"></script>


  <script src="static/js/scorecard/common.js"></script>
  <script src="static/js/scorecard/swarm.js"></script>
  <script src="static/js/scorecard/search.js"></script>
  <script src="static/js/scorecard/rankchart.js"></script>
  <script src="static/js/scorecard/scatterplot.js"></script>
  <script src="static/js/scorecard/histogram.js"></script>
  <script src="static/js/scorecard/score.js"></script>  

  </body>
</html>
