<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>US College Scorecard</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/flatlab/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/flatlab/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="static/assets/flatlab/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="static/assets/flatlab/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="static/css/flatlab/owl.carousel.css" type="text/css">

    <!--right slidebar-->
    <link href="static/css/flatlab/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="static/css/flatlab/style.css" rel="stylesheet">
    <link href="static/css/flatlab/style-responsive.css" rel="stylesheet" />




    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/scorecard/custom-flatlab.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/scorecard/style.css">
    <link rel="stylesheet" href="static/css/scorecard/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">

    <link href="static/assets/icomoon/css/icomoon.css" rel="stylesheet">



  </head>

  <body class="light-sidebar-nav">

  <section id="container">
    <!--header start-->
    <header class="header white-bg">
      <div class="sidebar-toggle-box">
        <i class="fa fa-bars"></i>
      </div>
      <!--logo start-->
      <a href="." class="logo">US College<span> Scorecard</span></a>
  
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <li>
            <a class="" href=".">
              <i class="fa "></i>
              <span>Home</span>
            </a>
          </li>
  
  
          <li>
            <a class="active" href="summary">
              <span class="icon-graphic"></span>
              
              <span>By the numbers</span>
            </a>
          </li>
  
          <li>
            <a class="" href="segment">
              <span class="icon-scatter"></span>
              <span>Breaking it down</span>
            </a>
          </li>
  

          <li>
            <a class="" href="score">
              <i class="fa fa-sort-amount-desc"></i>
              <span>Compare and Rank</span>
            </a>
          </li>
  
  
  
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
  
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row state-overview custom">
          <div class="col-lg-3 col-sm-6">
            <section class="card">
              <div class="symbol red">
                <span class="icon-graphic"></span>
              
              </div>
              <div class="value">
                <h3 class="" style="padding-top: 5px;">By the numbers</h3>
                <p></p>
              </div>
            </section>
          </div>
        </div>
  
        <!--Overveiew-->
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <section class="card">
              <div class="card-body">
                <h5>Schools at a Glance</h5>
                <p>There a variety of schools serving various purposes in the US and its territories. At a high-level, what is going on with the schools? What's their distributions look like? Would someone
                    know whether schools are generally expensive or cheap? Questions like these require an initial understanding of the data, and hopefully we can provide some of that insight here.</p>

                There are some interesting variables to comb over in the college data, which lead to interesting conclusions. Some of the facts about the data might even blow your mind!
                <ul>
                  <li>Did you know that there over 7000 accredited institutions in the US and its territories?</li>
                  <li>A variety of programs are offered - in fact, well over 35 major programs are offered across the institutions.</li>
                  <li>Over 50% of students get Pell grants when applying for colleges - makes the financial aid easier to get!</li>
                </ul>
              </div>
            </section>
          </div>
        </div>
  
        <!--Overview Graphs-->
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <section class="card">
              <div class="card-body">
                <h5>School Type</h5>
                <p>There are three primary school types - Public, Private, and Private for Profit. Public schools are open to all students and funded through local, state, and federal taxes. Private schools are those
                  that are funded primarily through tuition and grants, but don't operate as profit-institutions. Private for profit are schools that tend to serve specific purposes, such as additional professional training
                  and vocational education.</p>

                <p>We can see here, all of the higher-education institutions across the US fall into these types. We can see the distribution below:</p>
                <div class='tableauPlaceholder' id='viz1573569107250' style='position: relative'><noscript><a
                      href='#'><img alt=' '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;School-Type-Dashboard&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='CollegeScorecardProjectWorkbook&#47;School-Type-Dashboard' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                      value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;School-Type-Dashboard&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' /></object></div>
                <script
                  type='text/javascript'>                    var divElement = document.getElementById('viz1573569107250'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '540px'; vizElement.style.height = '540px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
              </div>
            </section>
          </div>
  
          <div class="col-lg-6 col-sm-6">
            <section class="card">
              <div class="card-body">
                <h5>School Enrollment</h5>
                <p>While there are three different types of schools, the enrollment of each time is far from equal. Here, we can see that there is a heavy skew towards public schools, almost three times that of the next highest
                  enrollment type, Private. Why is that?</p>

                <p>Perhaps one reason might be that public schools are more affordable than private schools. Hovering over each type shows how much each school type costs, which can show some clear results.</p>
                <div class='tableauPlaceholder' id='viz1573569107251' style='position: relative'><noscript><a
                    href='#'><img alt=' '
                      src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Enrollment-Size-Dashboard&#47;1_rss.png'
                      style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                  <param name='embed_code_version' value='3' />
                  <param name='site_root' value='' />
                  <param name='name' value='CollegeScorecardProjectWorkbook&#47;Enrollment-Size-Dashboard' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='yes' />
                  <param name='static_image'
                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Enrollment-Size-Dashboard&#47;1.png' />
                  <param name='animate_transition' value='yes' />
                  <param name='display_static_image' value='yes' />
                  <param name='display_spinner' value='yes' />
                  <param name='display_overlay' value='yes' />
                  <param name='display_count' value='yes' /></object>
                </div>
                <script
                  type='text/javascript'>                    
                  var divElement = document.getElementById('viz1573569107251'); 
                  var vizElement = divElement.getElementsByTagName('object')[0]; 
                  vizElement.style.width = '540px'; 
                  vizElement.style.height = '540px'; 
                  var scriptElement = document.createElement('script'); 
                  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; 
                  vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                </script>
              </div>
            </section>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <section class="card">
              <div class="card-body">
                <h5>Degrees Awarded</h5>
                <p>Due to the nature of each type of school, they tend to server different crowds of students. Public schools allow for studies in many fields, and often present opportunities in further study after graduation.
                  Private schools can leverage the value of their brand, and students may only rely on a bachelors for enhancing their career prospects. Private for profit schools are generally not extensive academic institutions,
                  providing only the knowledge needed to advance down a specific career path.
                </p>
                <div class='tableauPlaceholder' id='viz1573569107252' style='position: relative'><noscript><a
                      href='#'><img alt=' '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Degree-Awarded-Dashboard&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='CollegeScorecardProjectWorkbook&#47;Degree-Awarded-Dashboard' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                      value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Degree-Awarded-Dashboard&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' /></object></div>
                <script type='text/javascript'>                    
                  var divElement = document.getElementById('viz1573569107252'); 
                  var vizElement = divElement.getElementsByTagName('object')[0]; 
                  vizElement.style.width = '1100px'; 
                  vizElement.style.height = '800px'; 
                  var scriptElement = document.createElement('script'); 
                  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; 
                  vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                </script>
              </div>
            </section>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <section class="card">
              <div class="card-body">
                <h5>Average Cost of Attendance</h5>
                <div class='tableauPlaceholder' id='viz1573569107253' style='position: relative'><noscript><a
                      href='#'><img alt=' '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Hist-Sch-Cost-Dashboard&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='CollegeScorecardProjectWorkbook&#47;Hist-Sch-Cost-Dashboard' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                      value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Hist-Sch-Cost-Dashboard&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' /></object></div>
                <script type='text/javascript'>                    
                  var divElement = document.getElementById('viz1573569107253'); 
                  var vizElement = divElement.getElementsByTagName('object')[0]; 
                  vizElement.style.width = '540px'; 
                  vizElement.style.height = '540px'; 
                  var scriptElement = document.createElement('script'); 
                  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; 
                  vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                </script>
              </div>
            </section>
          </div>
          <div class="col-lg-6 col-sm-6">
            <section class="card">
              <div class="card-body">
                <h5>Average Family Income</h5>
                <div class='tableauPlaceholder' id='viz1573569107254' style='position: relative'><noscript><a
                      href='#'><img alt=' '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Hist-Fam-Inc-Dashboard&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='CollegeScorecardProjectWorkbook&#47;Hist-Fam-Inc-Dashboard' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                      value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Hist-Fam-Inc-Dashboard&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' /></object></div>
                <script type='text/javascript'>                    
                  var divElement = document.getElementById('viz1573569107254'); 
                  var vizElement = divElement.getElementsByTagName('object')[0]; 
                  vizElement.style.width = '540px'; 
                  vizElement.style.height = '540px'; 
                  var scriptElement = document.createElement('script'); 
                  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; 
                  vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                </script>
              </div>
            </section>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <section class="card">
              <div class="card-body">
                <h5>Average SAT Scores vs Admission Rate</h5>
                <div class='tableauPlaceholder' id='viz1573569107255' style='position: relative'><noscript><a
                      href='#'><img alt=' '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Sct-SAT-ACT-Adm-Dashboard&#47;1_rss.png'
                        style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='CollegeScorecardProjectWorkbook&#47;Sct-SAT-ACT-Adm-Dashboard' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                      value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Sct-SAT-ACT-Adm-Dashboard&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' /></object></div>
                <script type='text/javascript'>                    
                  var divElement = document.getElementById('viz1573569107255'); 
                  var vizElement = divElement.getElementsByTagName('object')[0]; 
                  vizElement.style.width = '1100px'; 
                  vizElement.style.height = '800px'; 
                  var scriptElement = document.createElement('script'); 
                  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; 
                  vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                </script>
              </div>
            </section>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-sm-10 col-lg-offset-1 col-sm-offset-1">
              <section class="card">
                  <h5>US News Top 200 Schools - Average Earnings after graduation vs Average Debt</h5>
                  <p>Note that </p>
                  <div class='tableauPlaceholder' id='viz1573569107256' style='position: relative'><noscript><a
                        href='#'><img alt=' '
                          src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Sct-Earn-Debt-Dashboard&#47;1_rss.png'
                          style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                      <param name='embed_code_version' value='3' />
                      <param name='site_root' value='' />
                      <param name='name' value='CollegeScorecardProjectWorkbook&#47;Sct-Earn-Debt-Dashboard' />
                      <param name='tabs' value='no' />
                      <param name='toolbar' value='yes' />
                      <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Sct-Earn-Debt-Dashboard&#47;1.png' />
                      <param name='animate_transition' value='yes' />
                      <param name='display_static_image' value='yes' />
                      <param name='display_spinner' value='yes' />
                      <param name='display_overlay' value='yes' />
                      <param name='display_count' value='yes' /></object></div>
                  <script type='text/javascript'>                    
                    var divElement = document.getElementById('viz1573569107256'); 
                    var vizElement = divElement.getElementsByTagName('object')[0]; 
                    vizElement.style.width = '1100px'; 
                    vizElement.style.height = '800px'; 
                    var scriptElement = document.createElement('script'); 
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; 
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                  </script>
              </section>
            </div>
          </div>





      </section>
    </section>



    <!--main content end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="static/js/flatlab/jquery.js"></script>
    <script src="static/js/flatlab/bootstrap.bundle.min.js"></script>
    <script class="include" type="text/javascript" src="static/js/flatlab/jquery.dcjqaccordion.2.7.js"></script>
    <script src="static/js/flatlab/jquery.scrollTo.min.js"></script>
    <script src="static/js/flatlab/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="static/js/flatlab/jquery.sparkline.js" type="text/javascript"></script>
    <script src="static/assets/flatlab/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="static/js/flatlab/owl.carousel.js" ></script>
    <script src="static/js/flatlab/jquery.customSelect.min.js" ></script>
    <script src="static/js/flatlab/respond.min.js" ></script>

    <!--right slidebar-->
    <script src="static/js/flatlab/slidebars.min.js"></script>

    <!--common script for all pages-->
    <script src="static/js/flatlab/common-scripts.js"></script>

    <!--script for this page-->
    <script src="static/js/flatlab/sparkline-chart.js"></script>
    <script src="static/js/flatlab/easy-pie-chart.js"></script>
    <script src="static/js/flatlab/count.js"></script>


  <script>

      //owl carousel

      $(document).ready(function() {
          $("#owl-demo").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true,
			  autoPlay:true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

      $(window).on("resize",function(){
          var owl = $("#owl-demo").data("owlCarousel");
          owl.reinit();
      });

  </script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js"></script>
  <script src="https://d3js.org/d3-color.v1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js" integrity="sha256-gh5oDg46rxRDr9QF4nehk1UNULQ05EhbM9wOerElwRc=" crossorigin="anonymous"></script>



  <script src="static/js/scorecard/common.js"></script>
  <script src="static/js/scorecard/search.js"></script>
  <script src="static/js/scorecard/rankchart.js"></script>
  <script src="static/js/scorecard/scatterplot.js"></script>
  <script src="static/js/scorecard/histogram.js"></script>
  <script src="static/js/scorecard/score.js"></script>  

  </body>
</html>
