<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>US College Scorecard</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/flatlab/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/flatlab/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="static/assets/flatlab/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="static/assets/flatlab/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="static/css/flatlab/owl.carousel.css" type="text/css">

    <!--right slidebar-->
    <link href="static/css/flatlab/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="static/css/flatlab/style.css" rel="stylesheet">
    <link href="static/css/flatlab/style-responsive.css" rel="stylesheet" />

    <link href="static/assets/icomoon/css/icomoon.css" rel="stylesheet">



    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/scorecard/custom-flatlab.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/scorecard/style.css">
    <link rel="stylesheet" href="static/css/scorecard/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">




  </head>

  <body class="light-sidebar-nav">

  <section id="container">
    <!--header start-->
    <header class="header white-bg">

      <!--logo start-->
      <a href="." class="logo">US College<span> Scorecard</span></a>
      <div class="top-nav card-shadow-light">
        <ul class="nav pull-left top-menu">

            <li>
              <a class="active" href="summary">
                <span class="icon-graphic"></span>
                
                <span class="title">By the numbers</span>
              </a>
            </li>
    
            <li>
              <a class="" href="segment">
                <span class="icon-scatter"></span>
                <span class="title">Breaking it down</span>
              </a>
            </li>
    


            <li>
                <a class="" href="score">
                    <i class="fa fa-sort-amount-desc"></i>
                    <span class="title">Compare and Rank</span>
                </a>
            </li>
          
        </ul>
      </div>
    </header>
    <!--header end-->

  
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row state-overview custom">
          <div class="">
            <section class="card">
              <div class="symbol red">
                <span class="icon-graphic"></span>
              </div>
              <div class="value">
                <h3 class="">By the numbers</h3>
                <p></p>
              </div>
            </section>
          </div>
        </div>
  
        <!--Overveiew-->
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <section class="card">
              <div class="card-body summary-text">
                <h4>Schools at a Glance</h4>
                <p>There a variety of schools serving various purposes in the US and its territories. At a high-level, it's important to know what is going on with these schools. What's their distributions look like for different data? 
                  Would someone know whether schools are generally expensive or cheap, and would they be able to afford it? Is it easy to be admitted into a school based on the type of person you are? Questions like these require an initial understanding of the data, and 
                  hopefully we can provide some of that insight here.</p>

                <p>There are some interesting variables to comb over in the college data, which lead to interesting conclusions. To get started, there are some fun facts about the dataset</p>
                <ul class="list-grou">
                  <li class="list-group-item"><span class="fa fa-question-circle"></span>  Did you know that there over 7300 accredited institutions in the US and its territories? There are over 35 major programs offered across the institutions.</li>
                  <li class="list-group-item"><span class="fa fa-question-circle"></span>  Over 50% of students get Pell grants when applying for colleges - makes the financial aid easier to get!</li>
                  <li class="list-group-item"><span class="fa fa-question-circle"></span>  Student populations on average tend to be around 1.5% veterans, but some have special incentive programs to allow for more attendance.</li>
                </ul>
              </div>
            </section>
          </div>
        </div>
  
        <!--Overview Graphs-->
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <section class="card">
              <div class="card-body summary-text">
                <h3>School Types - An Overview</h3>
                <p>There are three primary school types in the dataset - <span style="color: #F28E2B"><b>Public</b></span>, <span style="color: #4A719B"><b>Private</b></span>, and <span style="color: #B07AA1"><b>For Profit</b></span>. It's important to make a distinction between the different school types
                for the high-level data visualizations since each is different in their education models.</p>
                <p><span style="color: #F28E2B"><b>Public</b></span> schools are open to all students and funded through local, state, and federal taxes. They tend to have a variety of student population sizes and provide relatively cheap ways to get a full education.</p>
                <p><span style="color: #4A719B"><b>Private</b></span> schools are those that are funded primarily through tuition and grants, but don't operate as profit-institutions. They have high tuition but also provide extensive research and internship opportunities.</p>
                <p><span style="color: #B07AA1"><b>For Profit</b></span> are schools that tend to serve specific purposes, such as additional professional training and vocational education. Most tend to be smaller schools that focus on one area and allow for professional specialization.</p>
                <div class='tableauPlaceholder' id='viz1573569107251' style='position: relative'><noscript><a href='#'><img
                        alt=' '
                        src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;School-Type-Overview-Dashboard&#47;1_rss.png'
                        style='border: none' /></a></noscript>
                  <object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='CollegeScorecardProjectWorkbook&#47;School-Type-Overview-Dashboard' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                      value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;School-Type-Overview-Dashboard&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='no' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                  </object>
                </div>
                <script type='text/javascript'>
                  var divElement = document.getElementById('viz1573569107251');
                  var vizElement = divElement.getElementsByTagName('object')[0];
                  vizElement.style.width = '100%';
                  vizElement.style.height = '1200px';
                  var scriptElement = document.createElement('script');
                  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                  vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                </script>
              </div>
            </section>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12">
              <section class="card">
                <div class="card-body summary-text">
                  <h3>School Types - The Finances</h3>
                  <p>For most prospective students and their families, costs in attending schools are an incredibly important consideration to make. Across the US, there are a variety of family situations and schools which are available to attend for those families
                    so the different types of schools can provide varying cost benefits.</p>

                  <p>It is important to note that to put things into perspective, several statistics are needed. To begin with, the <b>average net cost</b> for all schools is <b>$16,200</b> per semester, including tuition, books, campus fees, and more. 
                  For a two year education, this ends up being almosts <b>$65,000</b>, which can be a heavy load for families. As a result, almost <b>50%</b> of students apply and qualify for Pell grants, which is surprisingly high for a prosperous and 
                  developed country. But this becomes obvious when the average family income of <b>$38,490</b> for students attending all school types is taken into consideration.</p>

                  <p>Below, explore the data by selecting the School Type <em>color</em> on the left, or even searching for a specific school in the search bar. The displays are <em>linked</em> so they will update based on the selections.</p>

                  <div class='tableauPlaceholder' id='viz1573569107252' style='position: relative'><noscript><a href='#'><img
                          alt=' '
                          src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;School-Type-Financial-Dashboard&#47;1_rss.png'
                          style='border: none' /></a></noscript>
                    <object class='tableauViz' style='display:none;'>
                      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                      <param name='embed_code_version' value='3' />
                      <param name='site_root' value='' />
                      <param name='name' value='CollegeScorecardProjectWorkbook&#47;School-Type-Financial-Dashboard' />
                      <param name='tabs' value='no' />
                      <param name='toolbar' value='yes' />
                      <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;School-Type-Financial-Dashboard&#47;1.png' />
                      <param name='animate_transition' value='yes' />
                      <param name='display_static_image' value='yes' />
                      <param name='display_spinner' value='yes' />
                      <param name='display_overlay' value='yes' />
                      <param name='display_count' value='yes' />
                    </object>
                  </div>
                  <script type='text/javascript'>
                    var divElement = document.getElementById('viz1573569107252');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    vizElement.style.width = '100%';
                    vizElement.style.height = '1200px';
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                  </script>
                </div>
              </section>
            </div>
          </div>

          <div class="row">
              <div class="col-lg-12 col-sm-12">
                <section class="card">
                  <div class="card-body">
                    <h3>School Admissions - Capability and Identity</h3>
                    <p class="summary-text">One of the most nerve-wracking aspects of the application process is figuring out schools which are within the range of attendance. Test scores, grades, resumes, and activites all combine to create a "holistic" view of the student, removing the dependency on the student
                    being "just a number". However, it is inevitable the students get analyzed based on their test scores and other metrics. Within the US, the SAT - originally the <em>Scholastic Aptitude Test</em> - is the premier test to determine students positioning. As such, it is interesting 
                    to see that, out of a max possible 1600 (for this dataset), the average score across students is <b>1132</b>. An alternative test, called the ACT, is similarly used for assessment. It is scored out of 36, and across the US, students taking 
                    the ACT average a <b>23</b>.</p>

                    <p class="summary-text">With the US, there are a variety of races represented, since the US prides itself on being a "melting pot" of cultures and people. While the country is primarily Caucasian, there are still large representations from different races, specifically Black and Hispanic citizens.
                    This country-level grouping can be seen in the variety of college students who enter different schools across the country. As it is to be reasonably expected, there are around <b>50%</b> white students across all schools, though this is different from the around <b>75%</b> white total population.
                    A discrepancy like this can be explained by the fact that some schools are located in U.S. territories, and tend to have 100% native populations, which are not white.</p>

                    <p class="summary-text">Explore the admission statistics below comparing test metrics and race. The <em>Highlight</em> selections can make comparing across school types easier.</p>

                    <div class='tableauPlaceholder' id='viz1573569107253' style='position: relative'><noscript><a href='#'><img
                            alt=' '
                            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Adm-Overview-Dashboard&#47;1_rss.png'
                            style='border: none' /></a></noscript>
                      <object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='CollegeScorecardProjectWorkbook&#47;Adm-Overview-Dashboard' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image'
                          value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Co&#47;CollegeScorecardProjectWorkbook&#47;Adm-Overview-Dashboard&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='no' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                      </object>
                    </div>
                    <script type='text/javascript'>
                      var divElement = document.getElementById('viz1573569107253');
                      var vizElement = divElement.getElementsByTagName('object')[0];
                      vizElement.style.width = '100%';
                      vizElement.style.height = '1200px';
                      var scriptElement = document.createElement('script');
                      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                      vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                    </script>
                  </div>
                </section>
              </div>
            </div>
      </section>
    </section>



    <!--main content end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="static/js/flatlab/jquery.js"></script>
    <script src="static/js/flatlab/bootstrap.bundle.min.js"></script>
    <script class="include" type="text/javascript" src="static/js/flatlab/jquery.dcjqaccordion.2.7.js"></script>
    <script src="static/js/flatlab/jquery.scrollTo.min.js"></script>
    <script src="static/js/flatlab/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="static/js/flatlab/jquery.sparkline.js" type="text/javascript"></script>
    <script src="static/assets/flatlab/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="static/js/flatlab/owl.carousel.js" ></script>
    <script src="static/js/flatlab/jquery.customSelect.min.js" ></script>
    <script src="static/js/flatlab/respond.min.js" ></script>

    <!--right slidebar-->
    <script src="static/js/flatlab/slidebars.min.js"></script>

    <!--common script for all pages-->
    <script src="static/js/flatlab/common-scripts.js"></script>

    <!--script for this page-->
    <script src="static/js/flatlab/sparkline-chart.js"></script>
    <script src="static/js/flatlab/easy-pie-chart.js"></script>
    <script src="static/js/flatlab/count.js"></script>


  <script>

      //owl carousel

      $(document).ready(function() {
          $("#owl-demo").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true,
			  autoPlay:true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

      $(window).on("resize",function(){
          var owl = $("#owl-demo").data("owlCarousel");
          owl.reinit();
      });

  </script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js"></script>
  <script src="https://d3js.org/d3-color.v1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js" integrity="sha256-gh5oDg46rxRDr9QF4nehk1UNULQ05EhbM9wOerElwRc=" crossorigin="anonymous"></script>



  <script src="static/js/scorecard/common.js"></script>
  <script src="static/js/scorecard/search.js"></script>
  <script src="static/js/scorecard/rankchart.js"></script>
  <script src="static/js/scorecard/scatterplot.js"></script>
  <script src="static/js/scorecard/histogram.js"></script>
  <script src="static/js/scorecard/score.js"></script>  

  </body>
</html>
